:root {
    --headerBGColour : #252133;
    --headerfocusColour :#221e2e;
    --headerTxtColour : #FFD700;
    --headerTxtFocusColour : #ecf6fd;    
    --sectionColour1 : #fff;
    --sectionColour2 : #e4e4f8;
    --sectionPadding : 6vw;
}
.headerBG {
    background-color: var(--headerBGColour);
    z-index: 1;
}

.headerNavBarFontStyle{
  /* Ajust the font size for smaller screen */
    font-size: 1.2rem;
}

.headerNavBarFontStyle:hover {
  color: var(--headerTxtColour) !important;
  background-color: var(--headerfocusColour);
} 

@media (min-width: 500px){
  .headerNavBarFontStyle{
      font-size: 1.5rem;
  }
}
.navbarButton{
    border-color: var(--headerTxtColour) !important;
} 

.navbarIconColour{
    color:  var(--headerTxtColour) !important ;
    font-size: 2rem;
}

/* Self Hiding Navbar CSS START */

#navbar {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
  
  /* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: var(--headerTxtColour);
}
  
#navbar a:hover {
    background-color: var(--headerfocusColour);
    color: var(--headerTxtFocusColour);
}

/* Self Hiding Navbar CSS END */

.sectionHeadsLight{
    color: var(--headerBGColour);
    background-color: var(--sectionColour1);
    padding-left: var(--sectionPadding);
    padding-right: var(--sectionPadding);
    padding-bottom: 3rem;
}

.sectionHeadsDark{
    color: var(--headerBGColour);
    background-color: var(--sectionColour2);
    padding-left: var(--sectionPadding);
    padding-right: var(--sectionPadding);
    padding-bottom: 3rem;
}

.sectionHeadsSizing{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 1.5rem;
}

.footer{
  background-color: var(--headerBGColour);
  color: var(--headerTxtColour);
  width: 100%;
  height: auto;
  min-height: 25vh;
  padding-top: 1.5rem;
}

.sectionHeadsLight h1,
.sectionHeadsDark h1 {
    text-align: center;
    font-weight: 900;
}


.responsiveProfileImage {
  width: 350px;
  max-width: 80%;
  height: auto;
  min-height: 50vh;
  border-radius: 30%;
  margin-bottom: 3rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.summary{
  line-height: 1.6;
  font-weight: bold;
  text-align:justify;  
  text-justify:inter-word;

}

.experience h4 ,
.experience h5 {
    font-weight: 600;
    vertical-align: baseline;
}

.experience h5{
  padding-top: .3rem;
}

.honour{
  font-weight: bold; 
  margin-bottom: 0px; 
  text-transform: uppercase;
  animation: honourBlink .5s infinite alternate;
}

@keyframes honourBlink {
  90% {
    text-shadow: 1px 1px 4px var(--headerTxtColour);
  }
}

.cardstyling{
    width: 15rem;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: var(--sectionColour1) !important; 
    cursor: pointer;
    padding: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 var(--headerBGColour);
}

/* Image Carousel CSS Start  */

.show-neighbors {
  overflow: hidden;
}

.show-neighbors .item__third:first-child,
.show-neighbors .item__third:last-child {
  display: none;
}

@media (min-width: 960px) {
  .show-neighbors .carousel-indicators {
    margin-right: 25%;
    margin-left: 25%;
  }
  .show-neighbors .carousel-control-prev,
  .show-neighbors .carousel-control-next {
    background: rgba(255, 255, 255, 0.3);
    width: 20%;
    z-index: 11;
    /* .carousel-caption has z-index 10 */
  }
  .show-neighbors .carousel-inner {
    width: 170%;
    left: -35%;
    /* play here to see if the image can be  */
  }
  .show-neighbors .carousel-item-next:not(.carousel-item-left),
  .show-neighbors .carousel-item-right.active {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
  }
  .show-neighbors .carousel-item-prev:not(.carousel-item-right),
  .show-neighbors .carousel-item-left.active {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
  }
  .show-neighbors .item__third {
    display: block !important;
    float: left;
    position: relative;
    /* captions can now be added */
    width: 33%;
  }
}

.certificatePullDown{
  animation: iconAnimate 1s ease infinite;
}

@keyframes iconAnimate{
  0% ,100% { transform: translateY(-2px); }
  75% { transform: translateY(5px);}

}

#certificateAnchor {
  color: inherit;
}

#certificateAnchor:hover {
  color: var(--headerfocusColour);
  /* color: #FFD700; */
  background: var(--headerTxtColour);
  font-size: 110%;
  text-decoration: none;
}

.certificateImg{
  height: 65vh;
  min-height: 20rem;
  max-width: 99%;
  border:2px solid var(--headerBGColour);
  padding: 0rem .5rem;
  vertical-align: middle; 
}

/* Default left and right arrow; switched with FA icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.iconColor{
  color: var(--headerBGColour);
  font-size: 3rem;
}

.reports{
  margin-top: .5rem;
  cursor: pointer;
  padding: 0;
}

.pdfCloseBtn{
  width: 100%;
  height: 2rem;
  background-color: var(--headerBGColour);
  color: var(--headerTxtColour);
  font-weight: 700;
  border-color: var(--headerTxtColour);
}

.footerIcons{
  border: var(--headerTxtColour);
  padding: auto;
  box-shadow: 0 8px 16px 0 var(--headerfocusColour);

}

.gplus-ic:hover,
.li-ic:hover{
  color: var(--headerTxtFocusColour) !important;
  border-width: 1px;
  border-color: var(--headerTxtFocusColour);
  font-size: 1.1rem;
}
/* Image Carousel CSS END  */

.fa-search:hover{
  cursor: pointer;
}